{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="container">

<h3 class="inner-tittle two">Lista de Instrumentos de SI</h3>
<div class="container">
    
<div class="row">

    <div class="col-sm">
    <a href="{% url 'core:instrumento-new'%}" class="btn btn-success float-right">
        <span class="glyphicon glyphicon-plus"></span>Novo
    </a>
    </div>
</div>
<div class="graph">
<div class="tables">
    <table class="table table-hover">
     <thead>
        <tr>
         
            <th>Provincia</th>
            <th>Sector</th>
            <th>Instrumento</th>
            <th>Quantidade</th>
            <th>Necessidade</th>
            <th>Stock</th>
        
        </tr>
     </thead>
     <tbody>
        <tr>
        {% for instrumento in instrumentos  %}
        
            <td>{{instrumento.provincia.nome}}</td>
            <td>{{instrumento.sector.nome}}</td>
            <td>{{instrumento.nome}}</td>
            <td>{{instrumento.quantidade}}</td>
            <td>{{}}
        </tr>
        {% endfor %}     
        </tbody>
        
    </table> 
    {% include 'layouts/paginations.html' %}
</div>
<a href="#" class="btn btn-success">
<span class="glyphicon glyphicon-sort"></span>Exportar
</a>
</div>

</div>

{% endblock content %}