{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="inner-tittle two">Requisicao </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                   <tr>
                       <th>Provincia</th>
                       <th>Sector</th>
                       <th>REQ</th>
                       <th>Instrumento</th>
                       <th>Stock</th>
                       <th>Necdade</th>
                       <th>Ano</th>
                       <th>Data de entrada</th>
                       <th>Qtd.Entrada</th>
                       <th>Fornecedor</th>
                       <td>Data Requisicao</td>
                       <td>Qtd.Requisitada</td>
                       <td>Status</td>
                       <td>Accoes</td>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                   {% for resumo in resumo_instrumentos  %}

                       <td>{{resumo.provincia}}</td>
                       <td>{{resumo.sector}}</td>
                       {% if resumo.requisicao_id %}
                         <td>{{resumo.requisicao_id}}</td>
                       {%else%}
                         <td></td>
                       {%endif%}
                       <td>{{resumo.instrumento}}</td>
                       <td>{{resumo.stock}}</td>
                       <td>{{resumo.necessidade}}</td>
                       <td>{{resumo.ano}}</td>
                       <td>{{resumo.data_entrada|date:'d-m-Y'}}</td>
                       {% if resumo.quantidade_entrada %}
                         <td>{{resumo.quantidade_entrada}}</td>
                       {%endif%}
                       <td>{{resumo.fornecedor}}</td>
                       <td>{{resumo.data_requisicao|date:'d-m-Y'}}</td>
                       {% if resumo.quantidade_requisitada %}
                         <td>{{resumo.quantidade_requisitada}}</td>
                       {%endif%}
                       {% if resumo.status_requisicao == 'Pendente' %}
                         <td><span class="label label-warning">{{resumo.status_requisicao}}</span></td>
                       {% elif resumo.status_requisicao == 'Rejeitada' %}
                          <td><span class="label label-danger">{{resumo.status_requisicao}}</span></td>
                       {% elif resumo.status_requisicao == 'Aprovada' %}
                         <td><span class="label label-success">{{resumo.status_requisicao}}</span></td>
                       {%else%}
                         <td></td>
                       {% endif %}
                       <td>
                        <div class="row">
                            <div class="col">
                                {% if resumo.status_requisicao == 'Pendente' %}
                                <a href="{% url 'core:requisicao'%}" class="btn-sm btn-success m-1">
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                </a>
                                <a href="{% url 'core:requisicao'%}" class="btn-sm btn-danger m-1">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                                {% endif%}
                            </div>
                        </div>     
                    </td>
                   </tr>
                   {% endfor %}     
                   </tbody>
               
               </table> 
            {% include 'layouts/paginations.html' %}
        </div>
   </div>
</div>

{% endblock content %}